
.icon-tag:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-envelope:before { content: '\e802'; }
.icon-user:before { content: '\e803'; }
.icon-archive:before { content: '\e804'; }
.icon-linkedin:before { content: '\e805'; }
.icon-home:before { content: '\e806'; }
.icon-git:before { content: '\e807'; }
.icon-googleplus:before { content: '\e808'; }
.icon-rss:before { content: '\e809'; }
.icon-play:before { content: '\e80e'; }