/* layout elements */
body > .container {
    max-width: 740px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.body {
    min-height: 15em;
}
.menu ul,
.tags ul,
.location ul {
    list-style: none;
    padding: 0;
}
.menu li,
.location li {
    display: inline-block;
    padding: 5px;
}
.tags li {
    padding: 5px 0;
}
.menu ul {
    float: right;
}
.menu i span {
    display: none;
}
.menu a {
    vertical-align: middle;
}
.tags {
    position: relative;
}
.tags ul {
    position: absolute;
    left: 0;
    margin: 0 0 0 -11em;
    width: 10em;
    box-sizing: border-box;
    text-align: right;
    top: 0;
}
.tags li {
    border-right: 5px solid #aaa;
    padding-right: 1em;
}
.location li {
    border-bottom: 5px solid #fff;
}
.location .active {
    border-bottom: 5px solid #CE0D27;
    background: #eee;
}
.tags .active {
    border-right: 5px solid #CE0D27;
    background: #eee;
}
.footer p {
    text-align: center;
    font-style: italic;
    font-size: 80%;
    margin: 0;
}
.sitename {
    margin: 15px;
}
@media only screen and (min-width: 0px) and (max-width: 1024px) {
    .location, .tags,
    .location ul, .tags ul {
        margin: 1ex 0;
    }
    .tags ul {
        position: inherit;
        margin: 0;
        width: auto;
        padding: 0;
        text-align: left;
        margin-bottom: 1em;
    }
    .tags li {
        display: inline-block;
        border: none;
        width: auto;
        margin: 0;
        padding: 5px;
    }
    .tags .active {
        border: none;
        border-bottom: 5px solid #CE0D27;
        background: #eee;
    }

}
@media only screen and (min-width: 0px) and (max-width: 565px) {
    div.entry-overview .date {
        font-size: 17px;
        float: right;
        width: auto;
    }
    div.entry-overview .sep {
        display: none;
    }
}
