/* general style */
body {
    font: 19px/26px 'LinuxLibertine', 'Palatino', 'Palatino Linotype', 'URW Palladio L', 'Century Schoolbook L', 'Georgia', serif;
    margin: 0;
    padding: 0;
}
a {
    color: #002A7F;
}
a:hover {
    color: #CE0D27;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'LinuxBiolinum', 'Candara', 'Calibri', 'Segoe UI Semilight', 'Corbel', 'Trebuchet Ms', 'Segoe UI', sans-serif;
    text-shadow: 1px 1px 1px #ddd;
    font-weight: bold;
    line-height: 1;
    color: #333;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; text-shadow: none; background: transparent;
}
h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
    font-size: inherit;
    border: none;
    background: none;
}

h1 { font-size: 2.3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.56em; }
.entry-overview h1, h4 { font-size: 1.30em; }
h5 { font-size: 1.15em; }
h6 { font-size: 0.95em; }
.entry-overview h1 .date {
    color: #aaa;
    font-weight: normal;
}
h1 + p.date {
    margin-top: -20px;
    color: #555;
    font-style: italic;
}

.sitename {
    text-indent: -100em;
    background: url(ropython-logo2.png);
    width: 170px;
    height: 66px;
    display: inline-block;
}


/* margins and stuff */
p, div.line-block, ul, ol, pre, table {
    margin: 25px 0 25px 0;
}

dt {
    margin: 25px 0 0 0;
    padding: 0;
    font-weight: bold;
}

dd {
    margin: 0 0 25px 40px;
    padding: 0;
}

ul ol, ol ul, ul ul, ol ol {
    margin: 10px 0;
    padding: 0 0 0 40px;
}

a.footnote-reference,
.footnote td.label a,
.footnote td.label,
.entry-overview h1 .date,
pre, code, tt {
    font-family: 'Cousine', 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', 'Monaco',
                 'Courier New', monospace;
}
a.footnote-reference,
.footnote td.label a,
.footnote td.label,
pre, code, tt {
    font-size: 14px;
}
a.footnote-reference {
    vertical-align: top;
    font-size: 12px;
}

pre {
    margin: 1ex 0;
    line-height: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fffdfd;
    border-radius: 5px;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */;
}
pre, table, img {
    box-shadow: 1px 1px 3px #efefef;
}
img {
    box-shadow: 1px 1px 6px #ccc;
    margin: 0 auto;
    display: block;
    max-width: 700px;
}
.note, .note .first {
    box-shadow: 0px 1px 5px #eee;
    margin: 3ex 1ex 1ex 1ex;
    border: 1px solid #DDD;
    padding: 0;
    border-radius: 5px;
}
div[itemprop=articleBody] > .note {
    margin: 0 1ex 1ex 1ex;
}
.note {
    float: right;
    width: 200px;
    background: white;
}
.note p:nth-child(n+2) {
    margin: 0 0.5em 1em 0.5em;
    font-size: 90%;
}
.note p.last {
    margin-bottom: 5px;
}
.note .first {
    font-style: italic;
    background: #f5f5f0;
    border: none;
    border-bottom: 1px solid #DDD;
    margin: 0;
    text-align: center;
}

code, tt, hr {
    background: #fffdfd;
    border: 1px solid #f5f5f0;
    padding: 3px;
    border-radius: 3px;
}
pre.term, .term pre {
    background: #000;
    background-image: radial-gradient(ellipse farthest-corner at center, #000000 0%, #191919 100%);
    color: #aaa;
    box-shadow: 1px 1px 6px #888;
    border: none;
}
.container.term pre {
    display: inline-block;
}
pre.nowrap {
    overflow-y: auto;
    word-wrap: normal;
    white-space: pre;
    width: 100%;
    box-sizing: border-box;
}

/* pagination */
div.pagination {
    margin: 36px 0 0 0;
    text-align: center;
}
div.pagination strong {
    font-weight: normal;
    font-style: italic;
}

.attributes {
    border-left: 10px solid #555;
    background: #eee;
}
.attributes p {
    margin: 0;
}
.tags .active,
.location .active {
    color: #CE0D27;
}

/* latex math */
span.math img {
    margin-bottom: -7px;
}

.switch {
    display: inline-block;
}

.switch:hover {
    text-decoration: line-through;
}

.switch:hover:after {
    content: attr(title);
    text-decoration: none; text-shadow: none; background: transparent;
    display: inline-block;
    margin-left: 0.25em;
}

th.field-name {
    text-align: left;
}
td > p:first-child {
    margin-top: 0;
}
td > *:last-child {
    margin-bottom: 0;
}
table {
    margin-bottom: 8px !important;
}

hr {
    background: #FCD216;
    border: 0;
    border-radius: 2px;
    padding: 0;
    margin: 0 1px;
    height: 6px;
    box-shadow: inset 0px 0px 2px #ccc;
    clear: both;
}
div[itemprop=articleBody] hr, hr.short {
    width: 6em;
    margin: 0 auto;
    height: 4px;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    border: 0;
    width: 100%;
    background: #fffdfd;
}


table tr th,
table tr td {
    border: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid #ddd;
}
table tr th {
    background: #f9f9f0;
    border-top: 1px solid #ddd;
}
table tr th.stub {
    border-top: 0;
}
table div.line-block {
    margin: 0;
}

table tr:first-child > :first-child { border-top-left-radius: 5px; }
table tr:first-child > :last-child { border-top-right-radius: 5px; }
table tr:last-child  > td:first-child,
table tr:last-child  > th.stub:first-child { border-bottom-left-radius: 5px; }
table tr:last-child  > td:last-child  { border-bottom-right-radius: 5px; }
table tr:first-child > th.stub,
table tr:first-child > td { border-top: 1px solid #ddd; }
table thead + tbody tr:first-child > :first-child { border-top-left-radius: 0; border-top: 0; }
table thead + tbody tr:first-child > :last-child { border-top-right-radius: 0; border-top: 0; }

table.field-list tr th,
table.field-list tr td {
    border-top: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}
table.field-list tr th:first-child,
table.field-list tr td:first-child {
    border-left: 1px solid #ddd;
}
table.field-list tr th {
    text-align: left;
}
table.field-list tr:first-child th,
table.field-list tr:first-child td {
    border-top: 1px solid #ddd;
}
table.field-list tr:first-child > th:first-child { border-top-left-radius: 5px; }
table.field-list tr:first-child > td:last-child  { border-top-right-radius: 5px; }
table.field-list tr:last-child  > th:first-child { border-bottom-left-radius: 5px; }
table.field-list tr:last-child  > td:last-child  { border-bottom-right-radius: 5px; }

/* footnotes */
.footnote {
    margin: 5px 0;
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: Palatino, 'Palatino Linotype', Georgia, serif;
}
.footnote:first-of-type:before {
    content: "";
    border-top: 1px solid #666 !important;
    border-radius: 0;
    display: block;
    position: absolute;
    width: 160px;
}
.footnote td {
    border: none !important;
}

.footnote td {
    border: none;
    font-size: 15px;
    border-radius: 0 !important;
}

.footnote td.label {
    width: 1%;
}
.footnote td p {
    margin: 0;
}
.footnote td p + p {
    margin-top: 15px;
}
.strike {
    text-decoration: line-through;
}
.navigation i span {
    display: none;
}
.small {
    font-size: 75%;
}

a.headerlink {
    color: #c60f0f;
    padding: 0 4px 0 4px;
    text-decoration: none; text-shadow: none; background: transparent;
    vertical-align: middle;
    visibility: hidden;
}
*:hover > a.headerlink {
    visibility: visible;
}
a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

.highlights {
    font-size: 135%;
    font-weight: bold;
    font-style: italic;
    color: #444;
    text-align: center;
    line-height: 1.2;
    border-left: none;
    padding-left: none;
    margin-left: none;
}
.highlights .attribution {
    font-style: normal;
    font-weight: normal;
    text-align: right;
    font-size: 75%;
}
.uppercase {
    font-variant: small-caps;
    font-weight: bold;
    /*text-transform: uppercase;*/
}
.bigger {
    font-size: 150%;
    display: inline-block;
    vertical-align: middle;
    margin: -5px 0;
}
.highlights tt.docutils.literal {
    font-size: 85%;
    color: #000;
    font-weight: normal;
}
.footnote:target,
.footnote-reference:target {
    background: #F7E186;
}
html.touch a.headerlink {
    visibility: visible !important;
}
.archive h2 {
    border-bottom: 1px solid #000;
}
.archive h3 {
    border-bottom: 1px solid #ccc;
}
div.footer .subscribe {
    margin: 1ex 0;
}
div.footer .subscribe input {
    border: 1px solid #888;
    box-shadow: 0px 1px 3px #DDD inset;
    border-radius: 3px;
}
div.footer .subscribe input[type=submit] {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5) inset, 0px 1px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #FBFBFB, #E1E1E1) repeat scroll 0% 0% transparent;
    border: 1px solid #bbb;
    color: #666;
    text-shadow: 0px 1px 1px #FFF;
}
.figure {
    float: right;
    padding: 5px;
    margin: 0 1em;
    box-shadow: 1px 1px 5px #ccc;
}
img.chromeless,
.figure img {
    box-shadow: none;
}
img.chromeless {
    max-width: 740px;
}
.figure p {
    font-style: italic;
    text-align: center;
    padding: 0;
    font-size: 70%;
    margin: 1ex 0 0 0;
}
blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
    border-left: 1em solid #eee;
    padding: 1ex 0 1ex 1em;
    margin-left: 0;
    margin-right: 0;
}
blockquote p:first-child,
blockquote ul:first-child {
    margin-top: 0;
}
blockquote p:last-child,
blockquote ul:last-child {
    margin-bottom: 0;
}
/*blockquote:before,
blockquote:after {
    font-size: 120%;
    color: #aaa;
}
blockquote:before {
    content: open-quote;
}
blockquote:after{
    content: close-quote;
}*/

*::-moz-selection,
*::selection {
    text-shadow: none !important;
}
.container.center {
    text-align: center;
}
.container.center .figure {
    float: none;
    display: inline-block;
}
@media only screen and (min-width: 0px) and (max-width: 775px) {
    .figure {
        min-width: 125px;
        max-width: calc(100% - 200px);
    }
    .figure img {
        max-width: 100%;

    }
}
@media only screen and (min-width: 0px) and (max-width: 565px) {
}
