{% extends "base.html" %}

{% block title %} {{ article.title }} | {{ SITENAME }} {% endblock %}

{% block header %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/Article">
    <h1 class="title" itemprop="name">{{ article.title }}</h1>
    <p class="date">
      {% if article.date.isoweekday() == 1 %}
        Luni,
      {% elif article.date.isoweekday() == 2 %}
        Marți,
      {% elif article.date.isoweekday() == 3 %}
        Miercuri,
      {% elif article.date.isoweekday() == 4 %}
        Joi,
      {% elif article.date.isoweekday() == 5 %}
        Vineri,
      {% elif article.date.isoweekday() == 6 %}
        Sâmbătă,
      {% elif article.date.isoweekday() == 7 %}
        Duminică,
      {% endif %}
      {{ article.locale_date }}
    </p>
    <blockquote class="attributes">
      {% if article.category %}
        <p class="location">Oraș:
          <a href="{{ SITEURL }}/{{ article.category.url }}"><span itemprop="location">
            {{ category_slugs.get(article.category.slug, article.category.slug.capitalize()) }}</span></a>
        </p>
      {% endif %}

      {% if article.location %}
        <p class="venue">Locație:
        {% for line in article.location.splitlines() %}
          {% if ":" in line %}
            {% for name, url in [line.split(':', 1)] %}
            <a href="{{ url }}">{{ name }}</a>
            {% endfor %}
          {% else %}
            {{ line }}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if article.start %}
        <p class="time">Oră: {{ article.start.split()[1] }}</p>
      {% endif %}

      {% if article.duration %}
        <p class="duration">Durată: {{ article.duration }}</p>
      {% endif %}

      {% if article.tags %}
        <p class="tags">Tip:
        {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}"><span itemprop="keywords">{{ tag_names.get(tag.name, tag.name.capitalize()) }}</span></a>
        {% endfor %}
        </p>
      {% endif %}

      {% if article.registration %}
        <p class="registration">Înscrieri:
        {% for line in article.registration.splitlines() %}
          {% if ":" in line %}
            {% for name, url in [line.split(':', 1)] %}
            <a href="{{ url }}">{{ name }}</a>
            {% endfor %}
          {% else %}
            {{ line }}
          {% endif %}
        {% endfor %}
      {% endif %}
    </blockquote>
    <div itemprop="articleBody">{{ article.content }}</div>
</div>
{% include "twitter.html" %}
{% include "disqus.html" %}
{% endblock %}
