<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %} {{SITENAME}} {% endblock %}</title>
{% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed" />
{% endif %}
{% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% block css %}
  <style>{{ asset('screen') }}</style>
  <style media="print">{{ asset('print') }}</style>
{% endblock %}
{% block js %}
  <script type="text/javascript">{{ asset('js') }}</script>
{% endblock %}
{% if article %}
  <meta property="og:title" content="{{ article.title }}{% if article.excerpt %} - {{ article.excerpt }}{% endif %}"/>
  <meta property="og:description" content="{% if article.excerpt %}{{ article.excerpt|e }} &mdash; {% endif %}{{ article.content|striptags|truncate(150)|e }}"/>
  <meta name="description" content="{% if article.excerpt %}{{ article.excerpt|e }} &mdash; {% endif %}{{ article.content|striptags|truncate(150)|e }}"/>
{% endif %}
{% include 'googleanalytics.html' %}
</head>
<body>
  <div class="container">
    {% block header %}
      {% include "header.html" %}
      {% include "navigation.html" %}
    {% endblock %}

    <div class="body">
    {% block content %} {% endblock %}
    </div>

    {% block footer %}
      {% include "footer.html" %}
    {% endblock %}
  </div>
</body>
</html>
