<div class="footer">
  <hr>
  <p>&copy; Copyright <script type="text/javascript">var date = new Date(); document.write(date.getFullYear());</script> by {{ AUTHOR }}</p>
  <p>
    Powered by <a href="http://pypi.python.org/pypi/pelican/" target="_blank">Pelican</a>.
    Theme based on <a href="http://fjavieralba.com">fjavieralba</a>'s <a href="https://github.com/fjavieralba/flasky">flasky</a>.
  </p>
  <br>
  <form class="subscribe"
        action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
        onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=ionelmc', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <hr class="short">
    <br>
    You can subscribe to this blog via email: <br>
    Your email:
    <input type="email" required name="email">
    <input type="hidden" value="ionelmc" name="uri">
    <input type="hidden" name="loc" value="en_US">
    <input type="submit" value="Subscribe">
  </form>
</div>
