<div class="menu">
  <a class="sitename" href="{{ SITEURL }}/">{{ SITENAME }}</a>
  <ul>
    <li><a href="{{ SITEURL }}/resurse/">Resurse</a></li>
    <li><a href="{{ SITEURL }}/despre/">Despre</a></li>
    <li><a title="RSS" href="{{ SITEURL }}/feeds/all.rss.xml" rel="alternate"><i class="icon-rss-squared icon-large"><span>RSS Feed</span></i></a></li>
    <li><a title="ICAL" href="{{ SITEURL }}/calendar.ics"><i class="icon-calendar icon-large"><span>RSS Feed</span></i></a></li>
  </ul>
</div>
<div class="separator">
    <hr>
</div>
