<div class="menu">
  <a class="sitename" href="{{ SITEURL }}/">{{ SITENAME }}</a>
  <ul>
    <li><a href="{{ SITEURL }}/resurse/">Resurse</a></li>
    <li><a href="{{ SITEURL }}/despre/">Despre</a></li>
    <li><a title="RSS" href="{{ SITEURL }}/feeds/all.rss.xml" rel="alternate">⌘</a></li>
  </ul>
</div>
<div class="separator">
    <hr>
</div>
<div class="location">
  <ul>
  {% for category, _ in categories %}
    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category_slugs.get(category.slug, category.slug.capitalize()) }}</a></li>
  {% endfor %}
  </ul>
</div>
<div class="tags">
  <ul>
  {% for tag, _ in tags %}
    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name.capitalize() }}</a></li>
  {% endfor %}
  </ul>
</div>
