<div class="location">
  <ul>
  {% for c, _ in categories|sort(attribute='0.slug') %}
    {% if c == category %}
      <li class="active"><span itemprop="location">{{ category_slugs.get(c.slug, c.slug.capitalize()) }}</span></li>
    {% else %}
      <li><a href="{{ SITEURL }}/{{ c.url }}">{{ category_slugs.get(c.slug, c.slug.capitalize()) }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div class="tags">
  <ul>
  {% for t, _ in tags|sort(attribute='0.slug') %}
    {% if t == tag %}
      <li class="active"><span itemprop="keyword">{{ tag_names.get(t.name, t.name.capitalize()) }}</span></li>
    {% else %}
      <li><a href="{{ SITEURL }}/{{ t.url }}">{{ tag_names.get(t.name, t.name.capitalize()) }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
