@font-face {
    font-family: 'LinuxBiolinum';
    src: url('linbiolinum_rah.eot');
    src: url('linbiolinum_rah.eot?#iefix') format('embedded-opentype'),
         url('linbiolinum_rah.woff2') format('woff2'),
         url('linbiolinum_rah.woff') format('woff'),
         url('linbiolinum_rah.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LinuxBiolinum';
    src: url('linbiolinum_rbah.eot');
    src: url('linbiolinum_rbah.eot?#iefix') format('embedded-opentype'),
         url('linbiolinum_rbah.woff2') format('woff2'),
         url('linbiolinum_rbah.woff') format('woff'),
         url('linbiolinum_rbah.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'LinuxBiolinum';
    src: url('linbiolinum_riah.eot');
    src: url('linbiolinum_riah.eot?#iefix') format('embedded-opentype'),
         url('linbiolinum_riah.woff2') format('woff2'),
         url('linbiolinum_riah.woff') format('woff'),
         url('linbiolinum_riah.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Cousine';
    src: url('cousine-regular.eot');
    src: url('cousine-regular.eot?#iefix') format('embedded-opentype'),
         url('cousine-regular.woff2') format('woff2'),
         url('cousine-regular.woff') format('woff'),
         url('cousine-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine';
    src: url('cousine-italic.eot');
    src: url('cousine-italic.eot?#iefix') format('embedded-opentype'),
         url('cousine-italic.woff2') format('woff2'),
         url('cousine-italic.woff') format('woff'),
         url('cousine-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Cousine';
    src: url('cousine-bold.eot');
    src: url('cousine-bold.eot?#iefix') format('embedded-opentype'),
         url('cousine-bold.woff2') format('woff2'),
         url('cousine-bold.woff') format('woff'),
         url('cousine-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine';
    src: url('cousine-bolditalic.eot');
    src: url('cousine-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('cousine-bolditalic.woff2') format('woff2'),
         url('cousine-bolditalic.woff') format('woff'),
         url('cousine-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'BorgiaPro';
    src: url('BorgiaPro-Regular-webfont.eot');
    src: url('BorgiaPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('BorgiaPro-Regular-webfont.woff2') format('woff2'),
         url('BorgiaPro-Regular-webfont.woff') format('woff'),
         url('BorgiaPro-Regular-webfont.ttf') format('truetype'),
         url('BorgiaPro-Regular-webfont.svg#borgia_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BorgiaPro';
    src: url('BorgiaPro-Italic-webfont.eot');
    src: url('BorgiaPro-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('BorgiaPro-Italic-webfont.woff2') format('woff2'),
         url('BorgiaPro-Italic-webfont.woff') format('woff'),
         url('BorgiaPro-Italic-webfont.ttf') format('truetype'),
         url('BorgiaPro-Italic-webfont.svg#borgia_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
